App/JN.K3.Seeed.App.Core/Web References/FourPXWebService/OrderOnlineServiceImplService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="entity.orderonline.api.fpx" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="OrderOnlineServiceImplService" targetNamespace="entity.orderonline.api.fpx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="entity.orderonline.api.fpx" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="assignCommandService" type="tns:assignCommandService" />
      <xs:element name="assignCommandServiceResponse" type="tns:assignCommandServiceResponse" />
      <xs:element name="createAndPreAlertOrderService" type="tns:createAndPreAlertOrderService" />
      <xs:element name="createAndPreAlertOrderServiceNew" type="tns:createAndPreAlertOrderServiceNew" />
      <xs:element name="createAndPreAlertOrderServiceNewResponse" type="tns:createAndPreAlertOrderServiceNewResponse" />
      <xs:element name="createAndPreAlertOrderServiceResponse" type="tns:createAndPreAlertOrderServiceResponse" />
      <xs:element name="createAndPreAlertOrderUpgradeService" type="tns:createAndPreAlertOrderUpgradeService" />
      <xs:element name="createAndPreAlertOrderUpgradeServiceResponse" type="tns:createAndPreAlertOrderUpgradeServiceResponse" />
      <xs:element name="createOrderService" type="tns:createOrderService" />
      <xs:element name="createOrderServiceResponse" type="tns:createOrderServiceResponse" />
      <xs:element name="findOrderService" type="tns:findOrderService" />
      <xs:element name="findOrderServiceResponse" type="tns:findOrderServiceResponse" />
      <xs:element name="modifyOrderService" type="tns:modifyOrderService" />
      <xs:element name="modifyOrderServiceResponse" type="tns:modifyOrderServiceResponse" />
      <xs:element name="preAlertOrderService" type="tns:preAlertOrderService" />
      <xs:element name="preAlertOrderServiceNew" type="tns:preAlertOrderServiceNew" />
      <xs:element name="preAlertOrderServiceNewResponse" type="tns:preAlertOrderServiceNewResponse" />
      <xs:element name="preAlertOrderServiceResponse" type="tns:preAlertOrderServiceResponse" />
      <xs:element name="removeOrderService" type="tns:removeOrderService" />
      <xs:element name="removeOrderServiceResponse" type="tns:removeOrderServiceResponse" />
      <xs:element name="updatePreInfo" type="tns:updatePreInfo" />
      <xs:element name="updatePreInfoResponse" type="tns:updatePreInfoResponse" />
      <xs:complexType name="createAndPreAlertOrderServiceNew">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="arg1" type="tns:createAndPreAlertOrderRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="createAndPreAlertOrderRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="buyerId" type="xs:string" />
          <xs:element minOccurs="0" name="cargoCode" type="xs:string" />
          <xs:element minOccurs="0" name="city" type="xs:string" />
          <xs:element minOccurs="0" name="consigneeCompanyName" type="xs:string" />
          <xs:element minOccurs="0" name="consigneeDoorNo" type="xs:string" />
          <xs:element minOccurs="0" name="consigneeEmail" type="xs:string" />
          <xs:element minOccurs="0" name="consigneeFax" type="xs:string" />
          <xs:element minOccurs="0" name="consigneeIdentifyCode" type="xs:string" />
          <xs:element minOccurs="0" name="consigneeName" type="xs:string" />
          <xs:element minOccurs="0" name="consigneePostCode" type="xs:string" />
          <xs:element minOccurs="0" name="consigneeTelephone" type="xs:string" />
          <xs:element minOccurs="0" name="consigneeVatNo" type="xs:string" />
          <xs:element minOccurs="0" name="customerWeight" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="declareInvoice" nillable="true" type="tns:declareInvoice" />
          <xs:element minOccurs="0" name="destinationCountryCode" type="xs:string" />
          <xs:element minOccurs="0" name="hasBattery" type="xs:string" />
          <xs:element minOccurs="0" name="initialCountryCode" type="xs:string" />
          <xs:element minOccurs="0" name="insurApplicant" type="xs:string" />
          <xs:element minOccurs="0" name="insurCardNo" type="xs:string" />
          <xs:element minOccurs="0" name="insurCargoName" type="xs:string" />
          <xs:element minOccurs="0" name="insurQuantityPack" type="xs:string" />
          <xs:element minOccurs="0" name="insurType" type="xs:string" />
          <xs:element minOccurs="0" name="insurValue" type="xs:string" />
          <xs:element minOccurs="0" name="mctCode" type="xs:string" />
          <xs:element minOccurs="0" name="needPOD" type="xs:string" />
          <xs:element minOccurs="0" name="orderNo" type="xs:string" />
          <xs:element minOccurs="0" name="orderNote" type="xs:string" />
          <xs:element minOccurs="0" name="paymentCode" type="xs:string" />
          <xs:element minOccurs="0" name="pieces" type="xs:string" />
          <xs:element minOccurs="0" name="prealertintegrationtype" type="xs:string" />
          <xs:element minOccurs="0" name="productCode" type="xs:string" />
          <xs:element minOccurs="0" name="returnSign" type="xs:string" />
          <xs:element minOccurs="0" name="shipperAddress" type="xs:string" />
          <xs:element minOccurs="0" name="shipperCity" type="xs:string" />
          <xs:element minOccurs="0" name="shipperCompanyName" type="xs:string" />
          <xs:element minOccurs="0" name="shipperFax" type="xs:string" />
          <xs:element minOccurs="0" name="shipperName" type="xs:string" />
          <xs:element minOccurs="0" name="shipperPostCode" type="xs:string" />
          <xs:element minOccurs="0" name="shipperStateOrProvince" type="xs:string" />
          <xs:element minOccurs="0" name="shipperTelephone" type="xs:string" />
          <xs:element minOccurs="0" name="stateOrProvince" type="xs:string" />
          <xs:element minOccurs="0" name="street" type="xs:string" />
          <xs:element minOccurs="0" name="trackingNumber" type="xs:string" />
          <xs:element minOccurs="0" name="transactionId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="declareInvoice">
        <xs:sequence>
          <xs:element minOccurs="0" name="declareNote" type="xs:string" />
          <xs:element minOccurs="0" name="declarePieces" type="xs:string" />
          <xs:element minOccurs="0" name="declareUnitCode" type="xs:string" />
          <xs:element minOccurs="0" name="hsCode" type="xs:string" />
          <xs:element minOccurs="0" name="itemURL" type="xs:string" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="unitPrice" type="xs:string" />
          <xs:element minOccurs="0" name="cName" type="xs:string" />
          <xs:element minOccurs="0" name="eName" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="createAndPreAlertOrderServiceNewResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:createAndPreAlertOrderResponseNew" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="createAndPreAlertOrderResponseNew">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:createAndPreAlertOrderResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="fpxOrderNo" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="createAndPreAlertOrderResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="ack" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="errors" nillable="true" type="tns:error" />
          <xs:element minOccurs="0" name="referenceNumber" type="xs:string" />
          <xs:element minOccurs="0" name="timestamp" type="xs:string" />
          <xs:element minOccurs="0" name="trackingNumber" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="error">
        <xs:sequence>
          <xs:element minOccurs="0" name="cnAction" type="xs:string" />
          <xs:element minOccurs="0" name="cnMessage" type="xs:string" />
          <xs:element minOccurs="0" name="code" type="xs:string" />
          <xs:element minOccurs="0" name="defineMessage" type="xs:string" />
          <xs:element minOccurs="0" name="enAction" type="xs:string" />
          <xs:element minOccurs="0" name="enMessage" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="removeOrderService">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="arg1" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="removeOrderServiceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:removeOrderResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="removeOrderResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="ack" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="errors" nillable="true" type="tns:error" />
          <xs:element minOccurs="0" name="referenceNumber" type="xs:string" />
          <xs:element minOccurs="0" name="timestamp" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="createAndPreAlertOrderUpgradeService">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="arg1" type="tns:createAndPreAlertOrderUpgradeRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="createAndPreAlertOrderUpgradeRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:createAndPreAlertOrderRequest">
            <xs:sequence>
              <xs:element minOccurs="0" name="pickupInfo" type="tns:pickupinfo" />
              <xs:element minOccurs="0" name="sendFpxWay" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="pickupinfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="city" type="xs:string" />
          <xs:element minOccurs="0" name="company" type="xs:string" />
          <xs:element minOccurs="0" name="country" type="xs:string" />
          <xs:element minOccurs="0" name="detailAddress" type="xs:string" />
          <xs:element minOccurs="0" name="district" type="xs:string" />
          <xs:element minOccurs="0" name="doorNo" type="xs:string" />
          <xs:element minOccurs="0" name="email" type="xs:string" />
          <xs:element minOccurs="0" name="firstName" type="xs:string" />
          <xs:element minOccurs="0" name="lastName" type="xs:string" />
          <xs:element minOccurs="0" name="mobile" type="xs:string" />
          <xs:element minOccurs="0" name="phone" type="xs:string" />
          <xs:element minOccurs="0" name="province" type="xs:string" />
          <xs:element minOccurs="0" name="street" type="xs:string" />
          <xs:element minOccurs="0" name="zipCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="createAndPreAlertOrderUpgradeServiceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:createAndPreAlertOrderResponseNew" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="updatePreInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="tns:updatePreInfoRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="updatePreInfoRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="customerWeight" type="xs:string" />
          <xs:element minOccurs="0" name="referenceNumber" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="updatePreInfoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:updatePreAlertInfoResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="updatePreAlertInfoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="ack" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="errors" nillable="true" type="tns:error" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="preAlertOrderServiceNew">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="arg1" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="preAlertOrderServiceNewResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:preAlertOrderResponseNew" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="preAlertOrderResponseNew">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:preAlertOrderResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="fpxOrderNo" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="preAlertOrderResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="ack" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="errors" nillable="true" type="tns:error" />
          <xs:element minOccurs="0" name="referenceNumber" type="xs:string" />
          <xs:element minOccurs="0" name="timestamp" type="xs:string" />
          <xs:element minOccurs="0" name="trackingNumber" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="preAlertOrderService">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="arg1" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="preAlertOrderServiceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:preAlertOrderResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="findOrderService">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="tns:findOrderRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="findOrderRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="endTime" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="orderNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="startTime" type="xs:string" />
          <xs:element minOccurs="0" name="status" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="findOrderServiceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:findOrderResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="findOrderResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="ack" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="errors" nillable="true" type="tns:error" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="orderItem" nillable="true" type="tns:orderItem" />
          <xs:element minOccurs="0" name="timestamp" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="orderItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="buyerId" type="xs:string" />
          <xs:element minOccurs="0" name="cargoCode" type="xs:string" />
          <xs:element minOccurs="0" name="channelHawbCode" type="xs:string" />
          <xs:element minOccurs="0" name="chargeWeight" type="xs:string" />
          <xs:element minOccurs="0" name="checkinDate" type="xs:string" />
          <xs:element minOccurs="0" name="checkoutDate" type="xs:string" />
          <xs:element minOccurs="0" name="confirmDate" type="xs:string" />
          <xs:element minOccurs="0" name="consigneeAddress1" type="xs:string" />
          <xs:element minOccurs="0" name="consigneeAddress2" type="xs:string" />
          <xs:element minOccurs="0" name="consigneeAddress3" type="xs:string" />
          <xs:element minOccurs="0" name="consigneeCompany" type="xs:string" />
          <xs:element minOccurs="0" name="consigneeEmail" type="xs:string" />
          <xs:element minOccurs="0" name="consigneeFax" type="xs:string" />
          <xs:element minOccurs="0" name="consigneeName" type="xs:string" />
          <xs:element minOccurs="0" name="consigneePostCode" type="xs:string" />
          <xs:element minOccurs="0" name="consigneeTelephone" type="xs:string" />
          <xs:element minOccurs="0" name="createDate" type="xs:string" />
          <xs:element minOccurs="0" name="customerWeight" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="declareInvoiceItem" nillable="true" type="tns:declareInvoiceItem" />
          <xs:element minOccurs="0" name="destinationCountryCode" type="xs:string" />
          <xs:element minOccurs="0" name="grossWeight" type="xs:string" />
          <xs:element minOccurs="0" name="holdSign" type="xs:string" />
          <xs:element minOccurs="0" name="initialCountryCode" type="xs:string" />
          <xs:element minOccurs="0" name="insurStatus" type="xs:string" />
          <xs:element minOccurs="0" name="insurType" type="xs:string" />
          <xs:element minOccurs="0" name="insurValue" type="xs:string" />
          <xs:element minOccurs="0" name="modifyDate" type="xs:string" />
          <xs:element minOccurs="0" name="odaCheckSign" type="xs:string" />
          <xs:element minOccurs="0" name="odaSign" type="xs:string" />
          <xs:element minOccurs="0" name="orderNo" type="xs:string" />
          <xs:element minOccurs="0" name="orderNote" type="xs:string" />
          <xs:element minOccurs="0" name="paymentCode" type="xs:string" />
          <xs:element minOccurs="0" name="pieces" type="xs:string" />
          <xs:element minOccurs="0" name="postDate" type="xs:string" />
          <xs:element minOccurs="0" name="printDate" type="xs:string" />
          <xs:element minOccurs="0" name="productCode" type="xs:string" />
          <xs:element minOccurs="0" name="returnSign" type="xs:string" />
          <xs:element minOccurs="0" name="shipperAddress" type="xs:string" />
          <xs:element minOccurs="0" name="shipperCompany" type="xs:string" />
          <xs:element minOccurs="0" name="shipperFax" type="xs:string" />
          <xs:element minOccurs="0" name="shipperName" type="xs:string" />
          <xs:element minOccurs="0" name="shipperPostCode" type="xs:string" />
          <xs:element minOccurs="0" name="shipperTelephone" type="xs:string" />
          <xs:element minOccurs="0" name="status" type="xs:string" />
          <xs:element minOccurs="0" name="trackingNumber" type="xs:string" />
          <xs:element minOccurs="0" name="transactionId" type="xs:string" />
          <xs:element minOccurs="0" name="volumeWeight" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="declareInvoiceItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="declareNote" type="xs:string" />
          <xs:element minOccurs="0" name="declarePieces" type="xs:string" />
          <xs:element minOccurs="0" name="declareUnitCode" type="xs:string" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="unitPrice" type="xs:string" />
          <xs:element minOccurs="0" name="cName" type="xs:string" />
          <xs:element minOccurs="0" name="eName" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="createOrderService">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="arg1" type="tns:createOrderRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="createOrderRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="buyerId" type="xs:string" />
          <xs:element minOccurs="0" name="cargoCode" type="xs:string" />
          <xs:element minOccurs="0" name="city" type="xs:string" />
          <xs:element minOccurs="0" name="consigneeCompanyName" type="xs:string" />
          <xs:element minOccurs="0" name="consigneeDoorNo" type="xs:string" />
          <xs:element minOccurs="0" name="consigneeEmail" type="xs:string" />
          <xs:element minOccurs="0" name="consigneeFax" type="xs:string" />
          <xs:element minOccurs="0" name="consigneeIdentifyCode" type="xs:string" />
          <xs:element minOccurs="0" name="consigneeName" type="xs:string" />
          <xs:element minOccurs="0" name="consigneePostCode" type="xs:string" />
          <xs:element minOccurs="0" name="consigneeTelephone" type="xs:string" />
          <xs:element minOccurs="0" name="consigneeVatNo" type="xs:string" />
          <xs:element minOccurs="0" name="customerWeight" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="declareInvoice" nillable="true" type="tns:declareInvoice" />
          <xs:element minOccurs="0" name="destinationCountryCode" type="xs:string" />
          <xs:element minOccurs="0" name="hasBattery" type="xs:string" />
          <xs:element minOccurs="0" name="initialCountryCode" type="xs:string" />
          <xs:element minOccurs="0" name="insurApplicant" type="xs:string" />
          <xs:element minOccurs="0" name="insurCardNo" type="xs:string" />
          <xs:element minOccurs="0" name="insurCargoName" type="xs:string" />
          <xs:element minOccurs="0" name="insurQuantityPack" type="xs:string" />
          <xs:element minOccurs="0" name="insurType" type="xs:string" />
          <xs:element minOccurs="0" name="insurValue" type="xs:string" />
          <xs:element minOccurs="0" name="mctCode" type="xs:string" />
          <xs:element minOccurs="0" name="needPOD" type="xs:string" />
          <xs:element minOccurs="0" name="orderNo" type="xs:string" />
          <xs:element minOccurs="0" name="orderNote" type="xs:string" />
          <xs:element minOccurs="0" name="paymentCode" type="xs:string" />
          <xs:element minOccurs="0" name="pieces" type="xs:string" />
          <xs:element minOccurs="0" name="prealertintegrationtype" type="xs:string" />
          <xs:element minOccurs="0" name="productCode" type="xs:string" />
          <xs:element minOccurs="0" name="returnSign" type="xs:string" />
          <xs:element minOccurs="0" name="shipperAddress" type="xs:string" />
          <xs:element minOccurs="0" name="shipperCity" type="xs:string" />
          <xs:element minOccurs="0" name="shipperCompanyName" type="xs:string" />
          <xs:element minOccurs="0" name="shipperFax" type="xs:string" />
          <xs:element minOccurs="0" name="shipperName" type="xs:string" />
          <xs:element minOccurs="0" name="shipperPostCode" type="xs:string" />
          <xs:element minOccurs="0" name="shipperStateOrProvince" type="xs:string" />
          <xs:element minOccurs="0" name="shipperTelephone" type="xs:string" />
          <xs:element minOccurs="0" name="stateOrProvince" type="xs:string" />
          <xs:element minOccurs="0" name="street" type="xs:string" />
          <xs:element minOccurs="0" name="trackingNumber" type="xs:string" />
          <xs:element minOccurs="0" name="transactionId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="createOrderServiceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:createOrderResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="createOrderResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="ack" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="errors" nillable="true" type="tns:error" />
          <xs:element minOccurs="0" name="referenceNumber" type="xs:string" />
          <xs:element minOccurs="0" name="timestamp" type="xs:string" />
          <xs:element minOccurs="0" name="trackingNumber" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="createAndPreAlertOrderService">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="arg1" type="tns:createAndPreAlertOrderRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="createAndPreAlertOrderServiceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:createAndPreAlertOrderResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="assignCommandService">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="tns:assignCommandRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="assignCommandRequest">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="arrRequestOrder" nillable="true" type="tns:requestOrder" />
          <xs:element minOccurs="0" name="command" type="xs:string" />
          <xs:element minOccurs="0" name="commandDetail" type="xs:string" />
          <xs:element minOccurs="0" name="orderType" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="requestOrder">
        <xs:sequence>
          <xs:element minOccurs="0" name="orderNo" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="assignCommandServiceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:assignCommandResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="assignCommandResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="ack" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="arrError" nillable="true" type="tns:error" />
          <xs:element minOccurs="0" name="orderNo" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="modifyOrderService">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="arg1" type="tns:modifyOrderRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="modifyOrderRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="buyerId" type="xs:string" />
          <xs:element minOccurs="0" name="cargoCode" type="xs:string" />
          <xs:element minOccurs="0" name="city" type="xs:string" />
          <xs:element minOccurs="0" name="consigneeCompanyName" type="xs:string" />
          <xs:element minOccurs="0" name="consigneeEmail" type="xs:string" />
          <xs:element minOccurs="0" name="consigneeFax" type="xs:string" />
          <xs:element minOccurs="0" name="consigneeName" type="xs:string" />
          <xs:element minOccurs="0" name="consigneePostCode" type="xs:string" />
          <xs:element minOccurs="0" name="consigneeTelephone" type="xs:string" />
          <xs:element minOccurs="0" name="customerWeight" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="declareInvoice" nillable="true" type="tns:declareInvoice" />
          <xs:element minOccurs="0" name="destinationCountryCode" type="xs:string" />
          <xs:element minOccurs="0" name="hasBattery" type="xs:string" />
          <xs:element minOccurs="0" name="initialCountryCode" type="xs:string" />
          <xs:element minOccurs="0" name="insurApplicant" type="xs:string" />
          <xs:element minOccurs="0" name="insurCardNo" type="xs:string" />
          <xs:element minOccurs="0" name="insurCargoName" type="xs:string" />
          <xs:element minOccurs="0" name="insurQuantityPack" type="xs:string" />
          <xs:element minOccurs="0" name="insurType" type="xs:string" />
          <xs:element minOccurs="0" name="insurValue" type="xs:string" />
          <xs:element minOccurs="0" name="mctCode" type="xs:string" />
          <xs:element minOccurs="0" name="needPOD" type="xs:string" />
          <xs:element minOccurs="0" name="orderNo" type="xs:string" />
          <xs:element minOccurs="0" name="orderNote" type="xs:string" />
          <xs:element minOccurs="0" name="paymentCode" type="xs:string" />
          <xs:element minOccurs="0" name="pieces" type="xs:string" />
          <xs:element minOccurs="0" name="productCode" type="xs:string" />
          <xs:element minOccurs="0" name="returnSign" type="xs:string" />
          <xs:element minOccurs="0" name="shipperAddress" type="xs:string" />
          <xs:element minOccurs="0" name="shipperCity" type="xs:string" />
          <xs:element minOccurs="0" name="shipperCompanyName" type="xs:string" />
          <xs:element minOccurs="0" name="shipperFax" type="xs:string" />
          <xs:element minOccurs="0" name="shipperName" type="xs:string" />
          <xs:element minOccurs="0" name="shipperPostCode" type="xs:string" />
          <xs:element minOccurs="0" name="shipperStateOrProvince" type="xs:string" />
          <xs:element minOccurs="0" name="shipperTelephone" type="xs:string" />
          <xs:element minOccurs="0" name="stateOrProvince" type="xs:string" />
          <xs:element minOccurs="0" name="street" type="xs:string" />
          <xs:element minOccurs="0" name="trackingNumber" type="xs:string" />
          <xs:element minOccurs="0" name="transactionId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="modifyOrderServiceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:modifyOrderResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="modifyOrderResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="ack" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="errors" nillable="true" type="tns:error" />
          <xs:element minOccurs="0" name="referenceNumber" type="xs:string" />
          <xs:element minOccurs="0" name="timestamp" type="xs:string" />
          <xs:element minOccurs="0" name="trackingNumber" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="updatePreInfoResponse">
    <wsdl:part name="parameters" element="tns:updatePreInfoResponse" />
  </wsdl:message>
  <wsdl:message name="createOrderService">
    <wsdl:part name="parameters" element="tns:createOrderService" />
  </wsdl:message>
  <wsdl:message name="createAndPreAlertOrderUpgradeServiceResponse">
    <wsdl:part name="parameters" element="tns:createAndPreAlertOrderUpgradeServiceResponse" />
  </wsdl:message>
  <wsdl:message name="modifyOrderService">
    <wsdl:part name="parameters" element="tns:modifyOrderService" />
  </wsdl:message>
  <wsdl:message name="assignCommandServiceResponse">
    <wsdl:part name="parameters" element="tns:assignCommandServiceResponse" />
  </wsdl:message>
  <wsdl:message name="findOrderServiceResponse">
    <wsdl:part name="parameters" element="tns:findOrderServiceResponse" />
  </wsdl:message>
  <wsdl:message name="preAlertOrderServiceNew">
    <wsdl:part name="parameters" element="tns:preAlertOrderServiceNew" />
  </wsdl:message>
  <wsdl:message name="findOrderService">
    <wsdl:part name="parameters" element="tns:findOrderService" />
  </wsdl:message>
  <wsdl:message name="modifyOrderServiceResponse">
    <wsdl:part name="parameters" element="tns:modifyOrderServiceResponse" />
  </wsdl:message>
  <wsdl:message name="createAndPreAlertOrderService">
    <wsdl:part name="parameters" element="tns:createAndPreAlertOrderService" />
  </wsdl:message>
  <wsdl:message name="removeOrderService">
    <wsdl:part name="parameters" element="tns:removeOrderService" />
  </wsdl:message>
  <wsdl:message name="updatePreInfo">
    <wsdl:part name="parameters" element="tns:updatePreInfo" />
  </wsdl:message>
  <wsdl:message name="createOrderServiceResponse">
    <wsdl:part name="parameters" element="tns:createOrderServiceResponse" />
  </wsdl:message>
  <wsdl:message name="createAndPreAlertOrderServiceNewResponse">
    <wsdl:part name="parameters" element="tns:createAndPreAlertOrderServiceNewResponse" />
  </wsdl:message>
  <wsdl:message name="preAlertOrderService">
    <wsdl:part name="parameters" element="tns:preAlertOrderService" />
  </wsdl:message>
  <wsdl:message name="createAndPreAlertOrderServiceResponse">
    <wsdl:part name="parameters" element="tns:createAndPreAlertOrderServiceResponse" />
  </wsdl:message>
  <wsdl:message name="createAndPreAlertOrderUpgradeService">
    <wsdl:part name="parameters" element="tns:createAndPreAlertOrderUpgradeService" />
  </wsdl:message>
  <wsdl:message name="assignCommandService">
    <wsdl:part name="parameters" element="tns:assignCommandService" />
  </wsdl:message>
  <wsdl:message name="preAlertOrderServiceNewResponse">
    <wsdl:part name="parameters" element="tns:preAlertOrderServiceNewResponse" />
  </wsdl:message>
  <wsdl:message name="preAlertOrderServiceResponse">
    <wsdl:part name="parameters" element="tns:preAlertOrderServiceResponse" />
  </wsdl:message>
  <wsdl:message name="removeOrderServiceResponse">
    <wsdl:part name="parameters" element="tns:removeOrderServiceResponse" />
  </wsdl:message>
  <wsdl:message name="createAndPreAlertOrderServiceNew">
    <wsdl:part name="parameters" element="tns:createAndPreAlertOrderServiceNew" />
  </wsdl:message>
  <wsdl:portType name="IOrderOnlineService">
    <wsdl:operation name="createAndPreAlertOrderServiceNew">
      <wsdl:input name="createAndPreAlertOrderServiceNew" message="tns:createAndPreAlertOrderServiceNew" />
      <wsdl:output name="createAndPreAlertOrderServiceNewResponse" message="tns:createAndPreAlertOrderServiceNewResponse" />
    </wsdl:operation>
    <wsdl:operation name="removeOrderService">
      <wsdl:input name="removeOrderService" message="tns:removeOrderService" />
      <wsdl:output name="removeOrderServiceResponse" message="tns:removeOrderServiceResponse" />
    </wsdl:operation>
    <wsdl:operation name="createAndPreAlertOrderUpgradeService">
      <wsdl:input name="createAndPreAlertOrderUpgradeService" message="tns:createAndPreAlertOrderUpgradeService" />
      <wsdl:output name="createAndPreAlertOrderUpgradeServiceResponse" message="tns:createAndPreAlertOrderUpgradeServiceResponse" />
    </wsdl:operation>
    <wsdl:operation name="updatePreInfo">
      <wsdl:input name="updatePreInfo" message="tns:updatePreInfo" />
      <wsdl:output name="updatePreInfoResponse" message="tns:updatePreInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="preAlertOrderServiceNew">
      <wsdl:input name="preAlertOrderServiceNew" message="tns:preAlertOrderServiceNew" />
      <wsdl:output name="preAlertOrderServiceNewResponse" message="tns:preAlertOrderServiceNewResponse" />
    </wsdl:operation>
    <wsdl:operation name="preAlertOrderService">
      <wsdl:input name="preAlertOrderService" message="tns:preAlertOrderService" />
      <wsdl:output name="preAlertOrderServiceResponse" message="tns:preAlertOrderServiceResponse" />
    </wsdl:operation>
    <wsdl:operation name="findOrderService">
      <wsdl:input name="findOrderService" message="tns:findOrderService" />
      <wsdl:output name="findOrderServiceResponse" message="tns:findOrderServiceResponse" />
    </wsdl:operation>
    <wsdl:operation name="createOrderService">
      <wsdl:input name="createOrderService" message="tns:createOrderService" />
      <wsdl:output name="createOrderServiceResponse" message="tns:createOrderServiceResponse" />
    </wsdl:operation>
    <wsdl:operation name="createAndPreAlertOrderService">
      <wsdl:input name="createAndPreAlertOrderService" message="tns:createAndPreAlertOrderService" />
      <wsdl:output name="createAndPreAlertOrderServiceResponse" message="tns:createAndPreAlertOrderServiceResponse" />
    </wsdl:operation>
    <wsdl:operation name="assignCommandService">
      <wsdl:input name="assignCommandService" message="tns:assignCommandService" />
      <wsdl:output name="assignCommandServiceResponse" message="tns:assignCommandServiceResponse" />
    </wsdl:operation>
    <wsdl:operation name="modifyOrderService">
      <wsdl:input name="modifyOrderService" message="tns:modifyOrderService" />
      <wsdl:output name="modifyOrderServiceResponse" message="tns:modifyOrderServiceResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrderOnlineServiceImplServiceSoapBinding" type="tns:IOrderOnlineService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createAndPreAlertOrderServiceNew">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="createAndPreAlertOrderServiceNew">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createAndPreAlertOrderServiceNewResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createAndPreAlertOrderUpgradeService">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="createAndPreAlertOrderUpgradeService">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createAndPreAlertOrderUpgradeServiceResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeOrderService">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="removeOrderService">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="removeOrderServiceResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePreInfo">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="updatePreInfo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updatePreInfoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="preAlertOrderServiceNew">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="preAlertOrderServiceNew">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="preAlertOrderServiceNewResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="preAlertOrderService">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="preAlertOrderService">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="preAlertOrderServiceResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findOrderService">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="findOrderService">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findOrderServiceResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createOrderService">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="createOrderService">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createOrderServiceResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createAndPreAlertOrderService">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="createAndPreAlertOrderService">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createAndPreAlertOrderServiceResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="assignCommandService">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="assignCommandService">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="assignCommandServiceResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyOrderService">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="modifyOrderService">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="modifyOrderServiceResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderOnlineServiceImplService">
    <wsdl:port name="OrderOnlineServiceImplPort" binding="tns:OrderOnlineServiceImplServiceSoapBinding">
      <soap:address location="http://api.4px.com:8058/OrderOnline/ws/OrderOnlineService.dll" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>