App/JN.K3.Seeed.App.Core/Web References/UpdatePLMECNStatus/ECNService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://seed.plm.com/ECNService" targetNamespace="http://seed.plm.com/ECNService" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="erpFeedback" type="tns:erpFeedback" />
  <xs:element name="erpFeedbackResponse" type="tns:erpFeedbackResponse" />
  <xs:complexType name="erpFeedback">
    <xs:sequence>
      <xs:element minOccurs="0" name="ecnNumber" type="xs:string" />
      <xs:element name="status" type="xs:boolean" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="erpFeedbackResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="erpFeedback" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>