App/JN.K3.Seeed.App.Core/Web References/BHProductWebService/ServiceForProduct.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/ServiceForProduct/" name="ServiceForProduct" targetNamespace="http://www.example.org/ServiceForProduct/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/ServiceForProduct/">
      <xsd:complexType name="HeaderRequest">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="customerCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="operationCustomerCode" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="appToken" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="appKey" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="version" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="createProduct">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="HeaderRequest" type="tns:HeaderRequest" />
            <xsd:element name="ProductInfo" type="tns:ProductInfo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createProductResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ask" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="message" type="xsd:string" />
            <xsd:element minOccurs="0" name="skuNo" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="error" type="tns:errorType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="errorCodeMsg" type="tns:errorCodeMsgType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ProductInfo">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="skuNo" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="skuName" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="productTtitleEn" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="barcodeType" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="barcodeDefine" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="productDeclaredValue" type="xsd:float" />
          <xsd:element minOccurs="0" name="weight" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="hasInvoice" type="xsd:string" />
          <xsd:element minOccurs="0" name="is_accessories" type="xsd:string" />
          <xsd:element minOccurs="0" name="hsGoodsName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="hsCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="UOM" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="recordInfo" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="isRecord" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="with_battery" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="battery_type" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="battery_detail" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="errorType">
        <xsd:sequence>
          <xsd:element name="errorMessage" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getProduct">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="HeaderRequest" type="tns:HeaderRequest" />
            <xsd:element minOccurs="1" name="skuNo" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getProductResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ask" type="xsd:string" />
            <xsd:element name="message" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="data" type="tns:productRow" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="errorCodeMsg" type="tns:errorCodeMsgType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getStock">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="HeaderRequest" type="tns:HeaderRequest" />
            <xsd:element minOccurs="1" name="skuNo" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getStockResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ask" type="xsd:string" />
            <xsd:element name="message" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="data" type="tns:inventoryRow" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="errorCodeMsg" type="tns:errorCodeMsgType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="inventoryRow">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="skuNo" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="warehouseCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="onwayQty" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pendingQty" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="sellableQty" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="unsellableQty" type="xsd:string" />
          <xsd:element minOccurs="1" name="reservedQty" type="xsd:string" />
          <xsd:element minOccurs="0" name="shippedQty" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="productRow">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="goods_id" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="product_sku" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="product_barcode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="product_title" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="product_title_en" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="product_status" type="xsd:string" />
          <xsd:element minOccurs="1" name="hs_goods_name" type="xsd:string" />
          <xsd:element minOccurs="1" name="hs_code" type="xsd:string" />
          <xsd:element minOccurs="0" name="product_weight" type="xsd:string" />
          <xsd:element minOccurs="0" name="product_declared_value" type="xsd:string" />
          <xsd:element minOccurs="0" name="is_accessories" type="xsd:string" />
          <xsd:element minOccurs="0" name="has_invoice" type="xsd:string" />
          <xsd:element minOccurs="0" name="currency_code" type="xsd:string" />
          <xsd:element minOccurs="0" name="model_serial" type="xsd:string" />
          <xsd:element minOccurs="0" name="model_serial2" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getBatchStock">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="HeaderRequest" type="tns:HeaderRequest" />
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="skuNoArr" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getBatchStockResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ask" type="xsd:string" />
            <xsd:element name="message" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="error" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="data" type="tns:inventoryRow" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="errorCodeMsg" type="tns:errorCodeMsgType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="errorCodeMsgType">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="code" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="msg" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="createProductRequest">
    <wsdl:part name="parameters" element="tns:createProduct" />
  </wsdl:message>
  <wsdl:message name="createProductResponse">
    <wsdl:part name="parameters" element="tns:createProductResponse" />
  </wsdl:message>
  <wsdl:message name="getStockRequest">
    <wsdl:part name="parameters" element="tns:getStock" />
  </wsdl:message>
  <wsdl:message name="getStockResponse">
    <wsdl:part name="parameters" element="tns:getStockResponse" />
  </wsdl:message>
  <wsdl:message name="getProductRequest">
    <wsdl:part name="parameters" element="tns:getProduct" />
  </wsdl:message>
  <wsdl:message name="getProductResponse">
    <wsdl:part name="parameters" element="tns:getProductResponse" />
  </wsdl:message>
  <wsdl:message name="getBatchStockRequest">
    <wsdl:part name="parameters" element="tns:getBatchStock" />
  </wsdl:message>
  <wsdl:message name="getBatchStockResponse">
    <wsdl:part name="parameters" element="tns:getBatchStockResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceForProduct">
    <wsdl:operation name="createProduct">
      <wsdl:input message="tns:createProductRequest" />
      <wsdl:output message="tns:createProductResponse" />
    </wsdl:operation>
    <wsdl:operation name="getStock">
      <wsdl:input message="tns:getStockRequest" />
      <wsdl:output message="tns:getStockResponse" />
    </wsdl:operation>
    <wsdl:operation name="getProduct">
      <wsdl:input message="tns:getProductRequest" />
      <wsdl:output message="tns:getProductResponse" />
    </wsdl:operation>
    <wsdl:operation name="getBatchStock">
      <wsdl:input message="tns:getBatchStockRequest" />
      <wsdl:output message="tns:getBatchStockResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceForProductSOAP" type="tns:ServiceForProduct">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createProduct">
      <soap:operation soapAction="http://www.example.org/ServiceForProduct/createProduct" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStock">
      <soap:operation soapAction="http://www.example.org/ServiceForProduct/getStock" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProduct">
      <soap:operation soapAction="http://www.example.org/ServiceForProduct/getProduct" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBatchStock">
      <soap:operation soapAction="http://www.example.org/ServiceForProduct/getBatchStock" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceForProduct">
    <wsdl:port name="ServiceForProductSOAP" binding="tns:ServiceForProductSOAP">
      <soap:address location="http://exoms.globex.cn/default/product-soap/web-service" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>